{% extends "home3.html" %}


{% block content %}
<div class="container">        
    <div class="alert alert-primary" role="alert">
            <div class="float-right">
                <button type="submit" class="btn btn-primary btn-sm" onclick="cls()">Edit</button>
            </div>
            <p><strong>Personal Details</strong></p>
            <fieldset id="edit" disabled="disable">
            <form action="/pro_update" method="post"> 
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">First Name</span>
                </div>
                <input type="text" class="form-control" placeholder="First Name" name="fname" value="{{personal_details['First Name']}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Last Name</span>
                </div>
                <input type="text" class="form-control" placeholder="Last Name" name="lname" value="{{personal_details['Last Name']}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Father's Name</span>
                </div>
                <input type="text" class="form-control" placeholder="Father's Name" name="f_fname" value="{{personal_details["Father's Name"]}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">DOB</span>
                </div>
                <input type="date" class="form-control" name="dd" value="{{personal_details['DOB']}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Gender</span>
                </div>
                <input type="text" class="form-control" placeholder="Gender" name="gen" value="{{personal_details['Gender']}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Phone</span>
                </div>
                <input type="text" class="form-control" placeholder="+91XXX(10 digits)" name="no" value="{{personal_details['Phone']}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Address</span>
                </div>
                <input type="text" class="form-control" placeholder="Address" name="add" value="{{personal_details['Address']}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">City</span>
                </div>
                <input type="text" class="form-control" placeholder="City" name="city" value="{{personal_details['City']}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">State</span>
                </div>
                <input type="text" class="form-control" placeholder="State" name="state" value="{{personal_details['State']}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                </div>
                <input type="text" class="form-control" placeholder="Email" name="email" value="{{personal_details['Email']}}">
            </div>
            <p><strong>Academic Details</strong></p>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Board</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Board" name="board" value="{{academic_details['10th Details']['Board']}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Aggregate</span>
                </div>
                <input type="text" class="form-control" placeholder="Aggregate" name="aggregate" value="{{academic_details['10th Details']['Aggregate']}}"">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Year Of Passsing</span>
                </div>
                <input type="text" class="form-control" placeholder="Year Of Passing" name="yop" value="{{academic_details['10th Details']['YOP']}}">
            </div>
            <p><strong>12th Details</strong></p> 
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Board</inp></span>
                </div>
                <input type="text" class="form-control" placeholder="Board" name="board2" value="{{academic_details['12th Details']['Board']}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Aggregate</span>
                </div>
                <input type="text" class="form-control" placeholder="Aggregate" name="aggregate2" value="{{academic_details['12th Details']['Aggregate']}}"">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Year Of Passsing</span>
                </div>
                <input type="text" class="form-control" placeholder="Year Of Passing" name="yop2" value="{{academic_details['12th Details']['YOP']}}">
            </div>
            <p><strong>UG Details</strong></p>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">USN</inp></span>
                </div>
                <input type="text" class="form-control" placeholder="1RN1XXXXXX" name="usn" value="{{academic_details['UG Details']['USN']}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Branch</span>
                </div>
                <input type="text" class="form-control" placeholder="Branch" name="branch" value="{{academic_details['UG Details']['Branch']}}"">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Sem</span>
                </div>
                <input type="text" class="form-control" placeholder="sem" name="sem" value="{{academic_details['UG Details']['Sem']}}">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">CGPA</span>
                </div>
                <input type="text" class="form-control" placeholder="CGPA" name="cgpa" value="{{academic_details['UG Details']['CGPA']}}">
            </div>
            <div class="float-right">
                <button type="submit" class="btn btn-primary btn-sm" href="/pro_update">Save Changes</button>
            </div>
    </form>
    </fieldset>
    </div>
</div>
                                                                                                                
                                                                                                                                     
    <script>
        function cls(){
            document.getElementById("edit").removeAttribute("disabled");
        }
    </script>

{% endblock %}